<header id="header" class="header" style="height: 100%;">
    <div class="header-content">
        <div class="container">
        <h4 style="text-align: center; color: white;">Please You Should Be Master User</h4>    
        <form #f="ngForm" (ngSubmit)="reset(f)">
            <div class="form-group">
                <input ngModel type="email"  name="email" #email="ngModel" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required email>
                <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
                <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Your Email doesn't match email format</div>
              </div>
              <div class="alert alert-success" *ngIf="messagere">{{messagere}}</div>
              <div class="alert alert-danger" *ngIf="notmessage">{{notmessage}}</div>
              <button class="btn btn-success" [disabled]="f.invalid" style="width: 100%; background-color: #00c9db;">Reset Password</button>
        </form>
        </div> 
    </div> 
</header> 
